<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-game-ka"
    version="1.0.2">

    <name>Cordova Game plugin</name>
    <description>show leaderboard and achievements (google play game and game center, SDK)</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>
    <license>MIT</license>
    <keywords>cordova,plugin,game,google play game,game center</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-game</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-game/issues</issue>
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/game.js" name="game">
        <clobbers target="window.game" />
    </js-module>

    <!-- android -->
    <platform name="android">
		<preference name="APP_ID" />

	    <config-file target="res/xml/config.xml" parent="/*">
			<feature name="Game" >
				<param name="android-package" value="com.cranberrygame.cordova.plugin.game.Game"/>
			</feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
			<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

		<source-file src="src/android/ids.xml" target-dir="res/values" />
		<config-file target="res/values/ids.xml" parent="/*">
			<string name="app_id">$APP_ID</string>
		</config-file>

		<source-file src="src/android/GameHelper.java" target-dir="src/com/google/example/games/basegameutils"/>
		<source-file src="src/android/GameHelperUtils.java" target-dir="src/com/google/example/games/basegameutils"/>
		<source-file src="src/android/Game.java" target-dir="src/com/cranberrygame/cordova/plugin/game"/>

		<framework src="com.google.android.gms:play-services-games:11.0.+" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="Game">
		        <param name="ios-package" value="Game" />
		        <param name="onload" value="true" />
		    </feature>
        </config-file>

        <header-file src="src/ios/Game.h" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/Game.m" compiler-flags="-fno-objc-arc" />

		<config-file parent="UIRequiredDeviceCapabilities" target="*-Info.plist">
+            <array>
+                <string>gamekit</string>
+            </array>
+        </config-file>

        <framework src="GameKit.framework" />
    </platform>
</plugin>